@font-face {
  font-family: robot-bold;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: robot-regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

html,
body {
  font-family: robot-regular, sans-serif;
}

html {
  height: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.95), purple);
}

.calculator-container {
  display: flex;
  flex-direction: column;
  border: 10px solid #22555c;
  box-shadow: 0 0 10px 3px rgb(190, 27, 190);
  background: linear-gradient(black, purple);
  width: 369px;
  margin: 20vh auto;
}

.display-container {
  background: linear-gradient(70deg, rgba(47, 160, 66, 0.5), rgb(74, 101, 78));
  box-shadow: inset 0 0 20px 10px rgba(47, 160, 66, 1);
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-around;
  height: 100px;
  margin: 5px 4px;
}

.buttons-container {
  border-top: 10px solid #22555c;
  /* box-shadow: 0 0 20px 10px rgb(70, 107, 46); */
  background: linear-gradient(rgb(56, 25, 25), rgb(61, 21, 61));
  display: grid;
  grid-gap: 3px;
  grid-template: repeat(5, 60px) / repeat(4, 90px);
}

.span-2-column {
  grid-column: span 2;
}

.span-2-rows {
  grid-row: span 2;
}

.expression-text {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.evaluation-text {
  font-size: 24px;
  font-weight: 500;
  color: rgb(173, 173, 173);
}

.button {
  box-sizing: border-box;
  background: linear-gradient(45deg, red, blue);
  background-size: 300%;
  background-position: left;
  color: white;
  font-family: inherit;
  font-size: 1.8rem;
  transition: background-position 1s ease, transform 200ms ease-in-out;
}

.button:hover {
  background-position: right;
  transform: scale(1.05);
}

.button:active {
  background-position: left;
  transform: scale(1.02);
  transition: background-position 200ms ease;
}
